/* About Page Styles */
.container {
    max-width: 1000px;
  }
  
  .card {
    border-radius: 15px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    color: #007bff;
  }
  
  h4 {
    color: #343a40;
    margin-top: 20px;
    font-size: 1.4rem;
  }
  
  p {
    font-size: 1.1rem;
    color: #555;
  }
  
  ul {
    list-style-type: none;
  }
  
  ul li {
    font-size: 1.1rem;
    color: #555;
    margin: 10px 0;
  }
  
  ul li strong {
    color: #007bff;
  }
  
  .btn-primary {
    background-color: #007bff;
    border: none;
    font-size: 1.2rem;
  }
  